<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GemKindsOfLock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF536F2E1E6C337800A82F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF536F471E6C337800A82F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF536F521E6C337900A82F98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
